@font-face {
    font-family: 'IstokWeb';
    font-weight: normal;
    src: url('../fonts/IstokWebRegular/IstokWebRegular.eot');
    src: url('../fonts/IstokWebRegular/IstokWebRegular.eot') format('embedded-opentype'),
         url('../fonts/IstokWebRegular/IstokWebRegular.woff') format('woff'),
         url('../fonts/IstokWebRegular/IstokWebRegular.ttf') format('truetype')
}
@font-face {
    font-family: 'IstokWeb';
    font-weight: bold;
    src: url('../fonts/IstokWebBold/IstokWebBold.eot');
    src: url('../fonts/IstokWebBold/IstokWebBold.eot') format('embedded-opentype'),
         url('../fonts/IstokWebBold/IstokWebBold.woff') format('woff'),
         url('../fonts/IstokWebBold/IstokWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'Besom';
    src: url("../fonts/Besom/Besom.eot");
    src: url(".../fonts/Besom/Besom.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Besom/Besom.woff") format("woff"), 
        url("../fonts/Besom/Besom.ttf") format("truetype"), 
        url("../fonts/Besom.svg#Besom") format("svg");
}