body{
    font-family: "IstokWeb", sans-serif;	
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 21px;
    background-color: #000;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,select,button,.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
h1{    
    font-family: "Besom";
    font-size: 40px;
    color: #990000;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.wrap{
    width: 100%;
    background: url('../img/bg.jpg') 50% 0% no-repeat #000;
}
.wrap-container{
    box-sizing:border-box;
    width: 100%;
}
.wrap-header{
    background: url('../img/bg-header2.png') 50% 0% no-repeat transparent;
    z-index: 5;
    position: relative;
    overflow: hidden;
}
header{
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 400px;
    text-align: center;
}
header .logo{
    display: inline-block;
    background: url(../img/logo2.png) 100% 100% no-repeat transparent;
    background-size: 63%;
    width: 470px;
    height: 213px;
    position: absolute;
    bottom: 10px;
    margin-left: -395px;
    left: 50%;
    z-index: 10;
}
body.gallery header .logo {
    width: 540px;
    height: 213px;
    bottom: -15px;
    margin-left: -395px;
}
.wrap-content{
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 450px;
    padding-bottom: 20px;
}
.content{
    //padding-top: 20px;
}
.content .content-inner{
    margin: 0 auto;
}
.wrap-footer{
    width: 100%;
    margin-top: 20px;
}
.footer{
    text-align: center;
    padding: 35px 20px;
    margin: 0 auto;
}
.footer-menu{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-menu li{
    display: inline-block;
    margin-right: 65px;
}
.footer-menu li:last-child{
    margin-right: 0;
}
.footer-menu li a{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 15px 20px;
}
.footer-menu li:nth-child(1) a{
    background: url('../img/footer-link-1.png') 50% 100% no-repeat transparent;
}
.footer-menu li:nth-child(2) a{
    background: url('../img/footer-link-2.png') 50% 100% no-repeat transparent;
}
.footer-menu li:nth-child(3) a{
    background: url('../img/footer-link-3.png') 50% 100% no-repeat transparent;
}
footer .copy{
    margin-top: 30px;
    opacity: 0.5;
    font-family: "Myriad Pro";
    font-size: 18px;
}

/* fields and btns && other helpers*/

.input-block label {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.input-block input,
.input-block select,
.input-block .select2 .select2-selection,
.input-block textarea{
    border: none;
    padding: 0px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    box-sizing:border-box;
    background: transparent;
    display: inline-block;
}
.select2-results {
    color: #000;
}
.input-block .select2-container .select2-selection--single,
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto; 
    line-height: normal;
    color: #fff;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__arrow b{
    height: 36px;
    width: 41px;
    border: none;
    position: absolute;
    top: 50%;
    left: auto;
    right: 9px;
    margin-top: -22px;
    background: url('../img/select.png') 50% 50% no-repeat transparent;
}
.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.input-block input:-moz-placeholder,
.input-block textarea:-moz-placeholder {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
}
.btn-primary,
.btn-default{
    background: url('../img/bg-btn-primary.png') 0% 0% repeat-x transparent;
    border-radius: 30px;
    border: none;
    padding: 0 40px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 27px;
    color: #911d1f;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.select2-container--open {
    z-index: 9999;
}

/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

/* modal fancy */
.j7-modal{
    display: none;
    text-align: center;
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
    background: url('../img/close.png') 50% 50% no-repeat transparent;
    display: block;
    top: 13px;
    right: 13px;
    width: 45px;
    height: 45px;
}
.fancybox-overlay {
    //background-image: none !important;
}
.fancybox-wrap .fancybox-skin{
    background: transparent;
    border-radius: none;
    color: #fff;
    padding: 0 !important;
    overflow: hidden;
}
.fancybox-wrap .fancybox-skin .modal-title{
    background: #950709;
    padding: 18px;
    color: #fdef97;
    font-size: 27px;
    margin-bottom: 20px;
}
.fancybox-wrap .fancybox-skin .modal-content{
    margin-bottom: 20px;
    padding: 5px 10px;
}
.fancybox-inner{
    overflow: visible !important;
    height: auto !important;
}

/* feedback page */

.content-feedback{
    padding-bottom: 80px;
}
.content-feedback .content-inner{
    width: 985px;
    padding: 0 60px;
    background: url('../img/bg-feedback.png') 50% 0% no-repeat transparent;
    box-sizing: border-box;
    height: 375px;
    position: relative;
}
.content-feedback h1{
    text-align: center;
    background: url('../img/feedback-title.png') 50% 0% no-repeat transparent;
    padding: 10px 0;
}
.content-feedback .input-block{
    position: relative;
}
.content-feedback .input-block.input-error p ,
.content-feedback .input-block.input-error-empty p{
    display: block;
    font-size: 17px;
    text-align: center;
    top: -22px;
}
.content-feedback .feedback-inline-blocks {
    margin-bottom: 20px;
}
.content-feedback .feedback-inline-blocks .input-email{
    display: inline-block;
    width: 260px;
}
.content-feedback .feedback-inline-blocks .input-email input{
    padding-bottom: 25px;
    background: url('../img/feedback-text.png') 50% 100% no-repeat transparent;
    text-align: center;
}
.content-feedback .feedback-inline-blocks .input-subject{
    float: right;
    width: 260px;
    margin-top: 5px;
}
.content-feedback .feedback-inline-blocks .input-subject .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-bottom: 25px;
    padding-right: 43px;
    background: url('../img/feedback-text.png') 50% 100% no-repeat transparent;
    text-align: center;
}
.content-feedback .input-message label{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.content-feedback .input-message textarea{
    background: url('../img/feedback-textarea.png') 50% 100% no-repeat transparent;
    height: 140px;
    padding: 0 30px;
    padding-top: 7px;
    line-height: 45px;
    overflow: hidden;
}
.content-feedback .submit-block{
    position: absolute;
    right: 0;
    bottom: 0;
}
.content-feedback .submit-block .btn-submit{
    background: url('../img/feedback-submit.png') 50% 70% no-repeat transparent;
    padding: 10px 20px;
    width: 250px;
    box-sizing: border-box;
    border: none;    
    font-family: "Besom";
    font-size: 44px;
    color: #009933;
    cursor: pointer;
}
.content-feedback .captcha-block{
    position: absolute;
    bottom: -100px;
    left: 50%;
    margin-left: -150px;
}
.content-feedback .captcha-img{
    width: 300px;
    text-align: center;
}
.content-feedback .home-link-block{
    position: absolute;
    right: 0;
    bottom: -90px;
}
.content-feedback .home-link-block .home-link{
    background: url('../img/feedback-home.png') 50% 50% no-repeat transparent;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    font-size: 13px;
    height: 70px;
    display: inline-block;
}
#feedback-popup{
    background: url('../img/feedback-popup.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    padding: 20px;
    width: 800px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}
.modal-feedback-popup .fancybox-close{
    display: none;
}
#feedback-popup a{
    position: absolute;
    bottom: 25px;
    left: 50%;
    background: url('../img/feedback-popup-btn.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    padding: 20px 0;
    width: 180px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Besom";
    font-size: 44px;
    color: #009933;
    margin-left: -90px;
}

/* gallery page */

body.gallery .wrap-header {
    background: none;
}
.content-gallery .content-inner{
    width: 985px;
    box-sizing: border-box;
    position: relative;
}
.content-gallery .gallery-title{
    width: 100%;
    height: 226px;
    /*background: url('../img/gallery-title.png') 0% 50% no-repeat transparent;*/
    margin-left: -77px;
    margin-top: -27px;
    text-align: center;
}
.content-gallery .home-link-block{
    position: absolute;
    right: -50px;
    top: 121px;
}
.content-gallery .home-link-block .home-link{
    background: url('../img/feedback-home.png') 50% 50% no-repeat transparent;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    font-size: 13px;
    height: 70px;
    display: inline-block;
}
.content-gallery .gallery-actions{
    margin-top: 74px;
}
.content-gallery .gallery-actions>div{
    display: inline-block;
}
.content-gallery .gallery-actions .filter-btn-block{
    margin-right: 60px;
}
.content-gallery .gallery-actions .filter-btn{
    background: url('../img/gallery-filter-btn.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    width: 265px;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: inline-block;
}
.content-gallery .gallery-actions .search-block{
    background: url('../img/gallery-filter-btn.png') 50% 50% no-repeat transparent;
    width: 321px;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
}
.content-gallery .gallery-actions .search-block input[type="text"]{
    border: none;
    background: none;
    font-size: 18px;
    color: #000;
    width: 180px;
    margin-left: 25px;
}
.content-gallery .gallery-actions .search-block input[type="submit"]{
    float: left;
    background: url('../img/search.png') 50% 50% no-repeat transparent;
    width: 27px;
    height: 27px;
    border: none;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}
.content-gallery .gallery-actions .search-block .search-clear-btn{
    float: right;
    background: url('../img/clear.png') 50% 50% no-repeat transparent;
    width: 26px;
    height: 27px;
    border: none;
    display: inline-block;
    margin-top: 10px;
}
.content-gallery .gallery-actions .search-block input::-webkit-input-placeholder{
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
.content-gallery .gallery-actions .search-block input:-moz-placeholder{
    font-size: 18px;
    font-weight: bold;
    color: #666;
    opacity: 1;
}
.content-gallery .gallery-items{
    margin: 60px -66px 0 0;
}
.content-gallery .gallery-items .gallery-items-inner{
    font-size: 0;
    text-align: center;
}
.content-gallery  .gallery-items .item{
    display: inline-block;
    width: 275px;
    box-sizing: border-box;
    margin: 0 66px 55px 0;
    font-size: 18px;
    cursor: pointer;
}
.content-gallery  .gallery-items .item .img-block{
    box-sizing: border-box;
    width: 100%;
    height: 175px;
    line-height: 175px;
    vertical-align: middle;
    border: 9px solid #fff;
    background: #ccc;
    text-align: center;
}
.content-gallery  .gallery-items .item .img-block img{
    max-width: 100%;
    max-height: 100%;
    margin-top: -17px;
    vertical-align: middle;
}
.content-gallery  .gallery-items .item .low-bar{
    margin-top: 10px;
    width: 100%;
    height: 25px;
}
.content-gallery  .gallery-items .item .low-bar .name{
    float: left;
    width: 195px;
    text-align: left;
    overflow: hidden;
    height: 120%;
}
.content-gallery  .gallery-items .item .low-bar .data{
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.pager {
    margin-top: 30px;
    width: 100%;
    height: 41px;
    text-align: center;
}
.pager .item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
    list-style: none;
    color: #666;
}
.pager .item a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
    padding: 10px 1px;
    display: inline-block;
}
.pager .current-item a{
    color: #fff;
}
.pager .pager-left a,
.pager .pager-right a{
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: #d0112b;
    color: #fff;
    border-radius: 20px;
    padding: 0;
    text-decoration: none;
    background: url('../img/pager-left.png') 50% 50% no-repeat transparent;
}
.pager .pager-right a{
    background-image: url('../img/pager-right.png');
}
.content-gallery .rules{
    margin-top: 90px;
    font-size: 14px;
    width: 985px;
    height: 690px;
    padding: 25px 45px;
    box-sizing: border-box;
    background: url('../img/bg-gallery-rules.png') 50% 50% no-repeat transparent;
}
.content-gallery .rules .title{
    margin: 50px 0 35px 0;
    text-align: center;
    font-family: "Besom";
    font-size: 50px;
    padding-bottom: 5px;
    background: url('../img/gallery-rules-title.png') 50% 100% no-repeat transparent;
}
.content-gallery .rules .title2{
    margin: 10px 0;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
.content-gallery .rules ul li{
    line-height: 26px;
}
.content-gallery .rules .social-links{
    margin-left: 170px;
}
.content-gallery .rules .social-links a{
    display: block;
    padding-left: 40px;
    background: url('../img/social.png') 0% 0% no-repeat transparent;
}
.content-gallery .rules .social-links a.soc-inst{
    background-position: 0 0;
}
.content-gallery .rules .social-links a.soc-vk{
    background-position: 0 -25px;
}
.content-gallery .rules .social-links a.soc-fb{
    background-position: 0 -50px;
}
.content-gallery .rules .note{
    margin-top: 10px;
}
.content-gallery .blogger-block{
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    background: url('../img/blog-bg.png') 50% 50% no-repeat transparent;
    background-size: cover;
    margin-top: 70px;
}
.content-gallery .blogger-block>div{
    display: inline-block;
    vertical-align: top;
}
.content-gallery .blogger-block .blogger-profile{
    padding: 345px 10px 10px 0px;
    width: 40%;
    text-align: center;
    font-size: 19px;
    line-height: 24px;
}
.content-gallery .blogger-block .blogger-info{
    padding: 50px 20px 20px 40px;
    width: 56%;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
}
.content-gallery .blogger-block .hashtag{
    color: #f8c14d;
}
.content-gallery .recipes-block{
    margin: 90px 0 60px 10px;
}
.content-gallery .recipes-block:after{
    display: table;
    content: '';
    clear: both;
}
.content-gallery .recipes-block .recipe{
    float: left;
    margin-right: 46px;
    width: 293px;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
}
.content-gallery .recipes-block .recipe:last-of-type{
    margin-right: 0;
}
.content-gallery .recipes-block .recipe .img-block{
    height: 278px;
    display: block;
}
.content-gallery .recipes-block .recipe-1 .img-block{
    background: url('../img/recipe_1.jpg') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-gallery .recipes-block .recipe-2 .img-block{
    background: url('../img/recipe_2.jpg') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-gallery .recipes-block .recipe-3 .img-block{
    background: url('../img/recipe_3.jpg') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-gallery .recipes-block .recipe .recipe-info{
    height: 95px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    background: #f8c14d;
    color: #000;
    font-size: 17px;
    line-height: 20px;
}
.content-gallery .recipes-block .recipe .recipe-info span{
    font-size: 19px;
    display: block;
    padding-bottom: 5px;
}

#gallery-popup{
    text-align: center;
    background: #fff;
    display: none;
}
.gallery-popup-inner{
    display: inline-block;
}
#gallery-popup .img-block{
    border: 12px solid #fff;
    background: #ccc;
}
#gallery-popup .img-block img{
    max-width: 590px;
    max-height: 500px;
}
#gallery-popup .low-bar{
    height: 65px;
    text-align: left;
    padding: 0 15px;
}
#gallery-popup .soc-link{
    display: inline-block;
}
#gallery-popup .soc-link a{
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url('../img/social-big.png') 0% 0% no-repeat transparent;
}
#gallery-popup .soc-link a.soc-inst{
    background-position: 0 0;
}
#gallery-popup .soc-link  a.soc-vk{
    background-position: 0 -60px;
}
#gallery-popup .soc-link a.soc-fb{
    background-position: 0 -115px;
}
#gallery-popup .name{
    float: right;
    margin-top: 15px;
    color: #000;
}
.recipe-popup-inner{
    width: 1360px;
    box-shadow: 10px 5px 0 #000;
    text-align: left;
    background: url('../img/recipe-popup-1.png') 50% 0% no-repeat transparent;
    background-size: 100%;
    padding: 90px;
    box-sizing: border-box;
}
#recipe-popup-2 .recipe-popup-inner{
    background: url('../img/recipe-popup-2.png') 50% 0% no-repeat transparent;
    background-size: 100%;
}
#recipe-popup-3 .recipe-popup-inner{
    background: url('../img/recipe-popup-3.png') 50% 0% no-repeat transparent;
    background-size: 100%;
}
.recipe-popup-inner:after{
    content: '';
    display: table;
    clear: both;
}
.recipe-popup-inner .left{
    float: left;
    width: 65%;
    padding-right: 50px;
    box-sizing: border-box;
}
.recipe-popup-inner .left .title,
.recipe-popup-inner .right .title1{
    font-size: 48px;
    line-height: 48px;
    color: #ffc24b;
    font-weight: bold;
    margin-bottom: 50px;
}
.recipe-popup-inner .left .title span,
.recipe-popup-inner .right .title1 span{
    font-size: 30px;
    line-height: 30px;
    display: block;
    margin-top: 20px;
}
.recipe-popup-inner .left .info{
    font-size: 26px;
    line-height: 32px;
}
.recipe-popup-inner .left .info div{
    margin-bottom: 18px;
}
.recipe-popup-inner .right{
    float: right;
    width: 35%;
    font-weight: bold;
}
.recipe-popup-inner .right .img-block{
    background: url('../img/recipe-popup-1-img.jpg') 50% 50% no-repeat transparent;
    background-size: 100%;
    width: 100%;
    height: 400px;
    border: 10px solid #fff;
    box-sizing: border-box;
}
#recipe-popup-2 .recipe-popup-inner .right .img-block{
    background: url('../img/recipe-popup-2-img.jpg') 50% 50% no-repeat transparent;
    background-size: 100%;
}
#recipe-popup-3 .recipe-popup-inner .right .img-block{
    background: url('../img/recipe-popup-3-img.jpg') 50% 50% no-repeat transparent;
    background-size: 100%;
}
#recipe-popup-3 .recipe-popup-inner{
    padding-top: 60px;
}
.recipe-popup-inner .right .title1{
    display: none;
}
.recipe-popup-inner .right .title2{
    font-size: 28px;
    color: #ffc24b;
    margin: 65px 0 40px 0;
}
.recipe-popup-inner .right ul li{
    font-size: 21px;
    margin-bottom: 15px;
}
#recipe-popup-2 .recipe-popup-inner .right ul li{
    margin-bottom: 12px;
}


/* index page */

.content-index .content-inner{
    width: 1480px;
    box-sizing: border-box;
    font-size: 18px;
}
.content-index .index-title{
    text-align: center;
    font-size: 250%;
    font-family: "Besom";
    background: url('../img/index-title-bg.png') 50% 50% no-repeat transparent;
    padding: 30px 20px;
    background-size: 100%;
    width: 98%;
    margin: 0 auto;
    box-sizing: border-box;
}
.content-index .index-title span{
    display: block;
    margin-top: 10px;
}
.content-index .prizes{
    background: url('../img/index-prizes-bg-1920.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    width: 98%;
    margin: 15px auto 0 auto;
    box-sizing: border-box;
    text-align: center;
    height: 420px;
    padding: 30px 20px;
}
.content-index .prizes>a,
.content-index .prizes>div{
    display: inline-block;
    vertical-align: top;
}
.content-index .prize-1,
.content-index .prize-2{
    width: 35%;
    height: 100%;
    background: url('../img/index-prize-1.png') 50% 80% no-repeat transparent;
    background-size: 100%;
}
.content-index .prize-1 h3,
.content-index .prize-2 h3{
    font-size: 300%;
    font-family: "Besom";
    text-align: center;
    margin-bottom: 5px;
}
.content-index .prize-1 span,
.content-index .prize-2 span{
    display: block;
    font-size: 130%;
    text-align: center;
    line-height: 110%;
}
.content-index .prize-2{
    background: url('../img/index-prize-2.png') 50% 80% no-repeat transparent;
}
.content-index .prize-label{
    width: 29%;
    height: 100%;
}
.content-index .prize-label span{
    background: url('../img/index-prize-btn.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    font-size: 600%;
    width: 83%;
    padding: 12px 0 6px 0;
    font-family: "Besom";
    color: #990000;
    display: inline-block;
    margin-top: 27%;
}
.content-index .reg-and-photolink{
    height: 500px;
}
.content-index .reg-and-photolink>div{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.content-index .reg-block{
    margin-right: 9%;
    background: url('../img/index-reg-bg.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    width: 98%;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 20px;    
    margin-left: 25px;
}
.content-index .reg-block .reg-info{
    margin: 15px 0;
}
.content-index .reg-block h3{
    margin: 5px auto 0 auto;
    background: url('../img/index-reg-title.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 70px;
    color: #990000;
    font-family: "Besom";
    font-size: 220%;
}
.content-index .reg-block .input-block{
    margin: 20px auto 0 auto;
    background-size: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0;
    color: #990000;
}
.content-index .reg-block .input-block input.phone-mask{
    text-align: center;
}
.content-index .reg-block .input-block input{
    width: 260px;
    background: url('../img/index-input-line1.png') 50% 100% no-repeat transparent;
    background-size: 100%;
    display: inline-block;
    padding: 0 5px 25px 5px;
}
.content-index .reg-block .input-block:nth-of-type(2) input{
    width: 115px;
    background: url('../img/index-input-line2.png') 50% 100% no-repeat transparent;
    padding-bottom: 15px;
}
.content-index .reg-block .checkbox-block{
    text-align: left;
    width: 481px;
    margin: 0 auto;
}
.content-index .reg-block .checkbox-block .checkbox{
    width: 28px;
    height: 28px;
    background: url('../img/index-checkbox1.png') 0% 5px no-repeat transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.content-index .reg-block .checkbox-block:nth-child(2) .checkbox{
    background: url('../img/index-checkbox2.png') 0% 5px no-repeat transparent;
}
.content-index .reg-block .checkbox-block .checkbox.checkbox-on{
    background: url('../img/index-checkbox1-on.png') 50% 100% no-repeat transparent;
}
.content-index .reg-block .checkbox-block:nth-child(2) .checkbox.checkbox-on{
    background: url('../img/index-checkbox2-on.png') 50% 100% no-repeat transparent;
}
.content-index .reg-block .checkbox-block .checkbox input{
    display: none;
}
.content-index .reg-block .checkbox-block span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    padding-top: 10px;
    font-size: 80%;
}
.content-index .reg-block .checkbox-block.input-error-wrong{
    color: #f00;
}
.content-index .reg-block .submit-block .btn-primary{
    width: 260px;
    background: url('../img/index-submit-btn.png') 50% 100% no-repeat transparent;
    background-size: 100%;
    display: inline-block;
    padding: 19px 24px 16px 33px;
    font-size: 170%;
    font-family: "Besom";
    color: #fff;
    height: auto;
    line-height: normal;
    margin-top: 10px;
}
.content-index .photolink-block{
    background: url('../img/index-photolink-bg.png') 50% 100% no-repeat transparent;
    background-size: 100%;
    margin-left: 112px;
    position: relative;
}
.content-index .photolink-block a{
    background: url('../img/index-reg-title.png') 50% 100% no-repeat transparent;
    background-size: 100%;
    margin-left: 90px;
    color: #990000;
    font-family: "Besom";
    font-size: 220%;
    position: absolute;
    bottom: 30px;
    display: inline-block;
    padding: 270px 50px 16px 50px;
}
.content-index .rules{
    background: url('../img/index-rules-bg.png') 50% 0% no-repeat transparent;
    background-size: 100%;
    margin-top: 20px;
    padding: 37px 50px;
}
.content-index .rules .rules-title{
    text-align: center;
    font-family: "Besom";
    font-size: 170%;
    margin: 10px 0 10px 0;
}
.content-index .rules ul li{
    text-indent: 40px;
}
.content-index .rules .note{
    text-indent: 40px;
    margin-top: 10px;
}
.content-index .rules .note:last-of-type{
    margin-top: 0px;
}
.content-index .blog-banner{
    text-align: center;
    margin: 50px 0px -10px 0px;
}
.content-index .blog-banner a{
    display: block;
    background: url('../img/blog-banner.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    width: 100%;
    height: 170px;
}
#reg-popup{
    display: none;
    width: 1200px;
    background: url('../img/reg-popup.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    height: 600px;
    position: relative;
}
#reg-popup a {
    position: absolute;
    width: 168px;
    left: 50%;
    margin-left: -86px;
    text-align: center;
    background: url('../img/reg-popup-btn.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    padding: 27px 0 15px 0;
    bottom: 19%;
    color: #009933;
    font-size: 64px;
    font-family: "Besom";
}
#reg-popup-error{
    width: 900px;
    background: url('../img/reg-popup-error.png') 50% 50% no-repeat transparent;
    background-size: 100%;
    height: 400px;
    box-sizing: border-box;
    font-size: 24px;
    position: relative;
}
#reg-popup-error .modal-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 145px 105px 0 105px;
    font-family: "Besom";
}
.modal-reg-popup-error .fancybox-close {
    top: 90px;
    right: 150px;
}
.modal-reg-popup .fancybox-close{
    display: none;
}

/** input errors **/

.input-block p{
    position: absolute;
    top: -15px;
    display: none;
    width: 100%;
}
.input-block.input-error-empty,
.input-block.input-error-wrong{
    position: relative;
}
.input-block.input-error-empty p{
    display: block;
    color: #ffff00;
}
.input-block.input-error-wrong p{
    display: block;
    color: #ff0000;
}
.input-block.input-error-wrong input{
    color: #ff0000;
}
.input-error-text{
    color: #f00;
}

/** select2 */
.select2-results {
    color: #fff;
}
.select2-dropdown {
    background: #282b30;
    border: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #282b30;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: #282b30;
}
.phone-info-block{
    font-family: "Besom";
    font-size: 43px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

/**
 * Canvas animation styles
 */
#canvas-animation-samolet {
    left: 50%;
    position: absolute;
    margin-left: -705px;
    width: 530px;
    height: auto;
    margin-top: -38px;
}

body.gallery #canvas-animation-samolet {
    left: 50%;
    position: absolute;
    margin-left: -703px;
    width: 555px;
    height: auto;
    margin-top: -50px;
}

#canvas-animation-girl {
    left: 50%;
    margin-left: 210px;
    margin-top: -37px;
    position: absolute;
    width: 440px;
    height: auto;
}

#canvas-animation-girl-with-camera {
    left: 50%;
    position: absolute;
    width: 790px;
    height: auto;
    margin-top: -60px;
    margin-left: -100px;
}

#canvas-animation-fotokonkurs {
    margin-top: 50px;
}

@media only screen and (max-width : 1600px) {
    .content-index .content-inner{
        width: 1180px;
        font-size: 16px;
    }
    .content-index .index-title {
        margin-top: 0px;
        font-size: 235%;
        padding: 30px 10px;
    }
    .content-index .prizes {
        background: url('../img/index-prizes-bg.png') 50% 50% no-repeat transparent;
        background-size: 100%;
        height: 525px;
        padding: 65px 30px 35px 20px;
        margin: 15px auto 30px auto;
    }
    .content-index .prize-1, .content-index .prize-2 {
        width: 37%;
        background-size: 100%;
        background-position: 50% 45%;
    }
    .content-index .prize-label {
        width: 25%;
    }
    .content-index .prize-label span {
        font-size: 450%;
        width: 100%;
        margin-top: 55%;
    }
    .content-index .reg-and-photolink {
        height: 440px;
    }
    .content-index .reg-block {
        margin-top: 20px;
    }
    .content-index .reg-block .reg-info {
        margin: 10px 0 0px 0;
    }
    .content-index .reg-block .checkbox-block {
        width: 75%;
    }
    .content-index .reg-block .input-block {
        margin: 15px auto 0 auto;
    }
    .content-index .reg-block h3 {
        margin: 5px auto 0 auto;
        padding: 15px 55px;
        font-size: 200%;
    }
    .content-index .reg-block .submit-block .btn-primary {
        width: 220px;
        padding: 15px 24px 14px 33px;
        margin-top: 0px;
    }
    .content-index .photolink-block {
        margin-left: 85px;
        margin-top: -10px;
    }
    .content-index .photolink-block a {
        margin-left: 55px;
    }
    .content-index .rules {
        background: url('../img/index-rules-bg-1200.png') 50% 0% no-repeat transparent;
    }
    .content-index .rules .rules-title {
        margin: 10px 0 10px 0;
    }
    .content-index .rules .note {
        text-indent: 0;
        margin-top: 10px;
        margin-left: 40px;
        font-size: 90%;
        line-height: 100%;
    }
    .content-index .blog-banner{
        margin: 50px 20px -10px 20px;
    }
    .content-index .blog-banner a{
        height: 130px;
    }
    #reg-popup {
        width: 1000px;
        height: 400px;
    }
    #reg-popup a {
        width: 140px;
        margin-left: -70px;
        padding: 27px 0 15px 0;
        bottom: 11%;
        font-size: 230%;
    }
    .recipe-popup-inner{
        width: 1150px;
        padding: 60px;
    }
    .recipe-popup-inner .left .title{
        font-size: 37px;
        line-height: 37px;
        margin-bottom: 40px;
    }
    .recipe-popup-inner .left .title span{
        font-size: 24px;
        line-height: 24px;
    }
    .recipe-popup-inner .left .info{
        font-size: 23px;
        line-height: 27px;
    }
    .recipe-popup-inner .left .info div{
        margin-bottom: 14px;
    }
    .recipe-popup-inner .right .img-block{
        height: 358px;
    }
    .recipe-popup-inner .right .title2{
        font-size: 24px;
        margin: 40px 0 20px 0;
    }
    .recipe-popup-inner .right ul li{
        font-size: 20px;
        margin-bottom: 12px;
    }
    #recipe-popup-2 .recipe-popup-inner .right ul li {
        margin-bottom: 10px;
        font-size: 19px;
    }
}
@media only screen and (max-width : 1200px) {
    .wrap-header {
        background: none;
        overflow: hidden;
    }
    .wrap-header header{
        background: url('../img/bg-header2.png') 50% 0% no-repeat transparent;
        background-size: 100%;
        width: 1200px;
        height: 330px;
        left: 50%;
        margin-left: -600px;
    }
    body.gallery  .wrap-header header {
        background: none;
    }
    header .logo {
        background-size: 100%;
        width: 220px;
        height: 150px;
        bottom: 15px;
        margin-left: -140px;
    }
    body.gallery header .logo {
        background-size: 100%;
        width: 220px;
        height: 150px;
        bottom: 15px;
        margin-left: -140px;
    }
    #canvas-animation-samolet {
        left: 50%;
        position: absolute;
        margin-left: -515px;
        width: 430px;
        height: auto;
        margin-top: -38px;
    }

    #canvas-animation-girl {
        left: 50%;
        margin-left: 195px;
        margin-top: -10px;
        position: absolute;
        width: 300px;
        height: auto;
    }
    #canvas-animation-girl-with-camera {
        width: 600px;
        margin-top: -45px;
        margin-left: -100px;
    }
    body.gallery #canvas-animation-samolet {
        margin-left: -525px;
        width: 440px;
        margin-top: -34px;
    }
    #canvas-animation-fotokonkurs {
        width: 730px;
        margin-left: 40px;
    }
    .content-index .content-inner{
        width: 915px;
        font-size: 13px;
    }
    .content-index .index-title {
        font-size: 220%;
    }
    .content-index .prizes {
        height: 390px;
        padding: 45px 23px 35px 15px;
        margin-bottom: 80px;
    }
    .content-index .prize-1,
    .content-index .prize-2 {
        width: 39%;
        background-size: 110%;
        background-position: 50% 55%;
    }
    .content-index .prize-label {
        margin-left: -35px;
    }
    .content-index .reg-and-photolink {
        height: 395px;
        margin-top: 50px;
    }
    .content-index .reg-and-photolink>div {
        width: 49%;
    }
    .content-index .reg-block {
        background: url('../img/index-reg-960.png') 50% 0% no-repeat transparent;
        background-size: 100%;
        padding: 15px 20px;
        margin: 0 0 0 11px;
    }
    .content-index .reg-block .submit-block .btn-primary {
        padding: 15px 24px 14px 25px;
        margin-top: 5px;
        font-size: 210%;
    }
    .content-index .photolink-block {
        margin: -4px 0 0 0;
        background: url('../img/index-photolink-bg-960.png') 50% 0% no-repeat transparent;
        background-size: 100%;
    }
    .content-index .photolink-block a {
        margin-left: 35px;
    }
    .content-index .rules {
        background-size: 100%;
    }
    .content-index .rules .rules-title {
        margin: 0;
        font-size: 200%;
    }
    .content-index .blog-banner{
        margin: 50px 0px -10px 0px;
    }
    .content-index .blog-banner a{
        height: 100px;
    }
    #reg-popup {
        width: 1000px;
        height: 400px;
    }
    #reg-popup a {
        width: 140px;
        margin-left: -70px;
        padding: 27px 0 15px 0;
        bottom: 11%;
        font-size: 230%;
    }
    .content-gallery .content-inner {
        width: 960px;
        overflow-x: hidden;
    }
    .content-gallery .gallery-title {
        width: 80%;
        height: 215px;
        background-size: 100%;
        margin-left: -50px;
        margin-top: -27px;
    }
    .content-gallery .home-link-block {
        right: 15px;
        top: 75px;
    }
    .content-gallery .home-link-block .home-link {
        background-size: 100%;
        padding: 23px 20px;
        width: 215px;
        font-size: 11px;
        height: 70px;
    }
    .content-gallery .gallery-actions .filter-btn-block {
        margin-right: 32px;
    }
    .content-gallery .gallery-items {
        margin: 60px -35px 0 0;
    }
    .content-gallery .gallery-items .item {
        margin: 0 35px 35px 0;
    }
    .content-gallery .rules {
        margin-top: 90px;
        font-size: 14px;
        width: 949px;
        background-size: 100%;
    }
    .content-gallery .rules .title {
        margin: 35px 0 30px 0;
    }
    .content-gallery .rules ul li {
        line-height: 23px;
    }
    .content-feedback .content-inner {
        width: 960px;
        background-size: 100%;
    }
    .phone-info-block{
        font-size: 38px;
    }
    .content-gallery .recipes-block .recipe {
        margin-right: 30px;
    }
    .recipe-popup-inner{
        width: 940px;
        padding: 60px;
    }
    .recipe-popup-inner .left .title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 40px;
    }
    .recipe-popup-inner .left .title span{
        font-size: 22px;
        line-height: 22px;
        margin-top: 15px;
    }
    .recipe-popup-inner .left .info{
        font-size: 18px;
        line-height: 21px;
    }
    .recipe-popup-inner .left .info div{
        margin-bottom: 12px;
    }
    .recipe-popup-inner .right .img-block{
        height: 283px;
    }
    .recipe-popup-inner .right .title2{
        font-size: 25px;
    }
    .recipe-popup-inner .right ul li {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .recipe-popup-inner .right .title2 {
        font-size: 22px;
        margin: 30px 0 15px 0;
    }
    #recipe-popup-2 .recipe-popup-inner .right ul li {
        margin-bottom: 5px;
        font-size: 16px;
    }
}

/* mobile styles */

@media only screen and (max-width : 960px) {
    body {
        font-size: 23px;
    }
    .wrap{
        min-width: 640px;
        background: url('../img/bg-640.jpg') 50% 0% no-repeat #000;
        background-size: 100%;
    }
    .wrap-content {
        box-sizing: border-box;
        max-width: 960px;
        min-width: 640px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 550px;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    body.index .wrap-header {
        background: url('../img/bg-header-640.png') 50% 0% no-repeat transparent;
        width: 640px;
        height: 968px;
        margin: 0 auto;
    }
    body.index .wrap-header header{
        background: none;
        height: 450px;
    }
    body.index header .logo {
        background: url('../img/logo-640.png') 50% 50% no-repeat transparent;
        width: 368px;
        height: 222px;
        bottom: -100px;
        margin-left: -205px;
    }
    .footer-menu li{
        display: block;
        margin-bottom: 40px;
        margin-right: 0;
    }
    .footer-menu li a {
        font-size: 40px;
        display: block;
        padding: 35px 20px;
        background-size: 100%;
    }
    .footer-menu li:nth-child(1) a ,
    .footer-menu li:nth-child(2) a ,
    .footer-menu li:nth-child(3) a {
        background-size: 100%;
    }
    .content-index .content-inner{
        width: auto;
        max-width: 915px;
        font-size: 13px;
    }
    .content-index .index-title {
        font-size: 58px;
        width: 631px;
        margin: 80px auto 900px auto;
        background: none;
    }
    .content-index .index-title span {
        margin-top: 40px;
    }
    .content-index .reg-and-photolink>div {
        width: 100%;
    }
    .content-index  .reg-and-photolink .photolink-block {
        text-align: center;
        position: absolute;
        top: 910px;
        height: 833px;
        width: 640px;
        left: 50%;
        margin-left: -320px;
        background: url('../img/index-photolink-640.png') 50% 0% no-repeat transparent;
    }
    .content-index .photolink-block a {
        width: 270px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        background: none;
        padding: 651px 152px 0 183px;
        font-size: 60px;
    }
    .content-index .prizes {
        height: auto;
        background: none;
        padding: 0;
    }
    .content-index .prize-1{
        margin: 320px auto 0 auto;
        width: 640px;
        padding-top: 555px;
        background: url('../img/index-prize1-640.png') 50% 0% no-repeat transparent;
    }
    .content-index .prize-1 h3,
    .content-index .prize-2 h3 {
        font-size: 128px;
        margin-bottom: 5px;
    }
    .content-index .prize-1 span, 
    .content-index .prize-2 span {
        font-size: 29px;
    }
    .content-index .prizes .prize-label {
        display: none;
    }
    .content-index .prize-2{
        position: relative;
        margin: 100px auto 0 auto;
        width: 640px;
        padding-top: 505px;
        background: url('../img/index-prize2-640.png') 50% 0% no-repeat transparent;
    }
    .content-index .prize-2 a{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content-index .reg-and-photolink {
        height: auto;
        margin-top: 110px;
    }
    .content-index .reg-block {
        background: none;
        margin: 0;
    }
    .content-index .reg-block .reg-info {
        font-size: 30px;
        width: 460px;
        margin: 0 auto;
    }
    .content-index .reg-block h3 {
        font-size: 61px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px 45px;
    }
    .content-index .reg-block .input-block {
        margin-top: 35px;
    }
    .content-index .reg-block .input-block input {
        font-size: 30px;
        width: 444px;
        padding: 0 5px 40px 5px;
    }
    .content-index .reg-block .input-block:nth-of-type(2) input {
        width: 174px;
        background-size: 100%;
    }
    .input-block p {
        top: -22px; 
        font-size: 18px;
    }
    .input-block input::-webkit-input-placeholder{
        font-size: 29px;
    }
    .input-block input:-moz-placeholder{
        font-size: 29px;
    }
    .content-index .reg-block .checkbox-block {
        width: 85%;
    }
    .content-index .reg-block .checkbox-block span {
        margin-top: 5px;
        font-size: 20px;
    }
    .content-index .reg-block .submit-block .btn-primary {
        width: 455px;
        padding: 26px 29px 31px 33px;
        margin-top: 60px;
        font-size: 57px;
    }
    .content-index .rules {
        background: none;
        margin-top: 100px;
        font-size: 23px;
    }
    .content-index .rules .rules-title {
        margin: 0;
        font-size: 53px;
    }
    .content-index .blog-banner{
        margin: 50px 0px -10px 0px;
    }
    .content-index .blog-banner a{
        background: url('../img/blog-banner-640.png') 50% 50% no-repeat transparent;
        height: 490px;
    }
    #reg-popup {
        width: 600px;
        height: 282px;
    }
    #reg-popup a {
        width: 93px;
        margin-left: -44px;
        padding: 24px 0 15px 0;
        bottom: 39px;
        font-size: 147%;
    }    
    #reg-popup-error{
        width: 600px;
        height: 260px;
        font-size: 20px;
    }
    #reg-popup-error .modal-content{
        top: auto;
        margin-top: 0;
        box-sizing: border-box;
        padding: 95px 75px 0 75px;
    }
    .modal-reg-popup-error .fancybox-close {
        top: 50px;
        right: 96px;
    }
    body.gallery .wrap{
        background: url('../img/bg-640-2.jpg') 50% 0% no-repeat #000;
        background-size: cover;
    }
    body.gallery .wrap-header {
        background: url('../img/gallery-header-640.png') 50% 0% no-repeat transparent;
        height: 450px;
    }
    body.gallery header .logo {
        background: url('../img/logo-640.png') 50% 50% no-repeat transparent;
        background-size: 100%;
        width: 250px;
        height: 165px;
        bottom: auto;
        top: 5px;
        margin-left: -300px;
    }
    .content-gallery .content-inner {
        width: 630px;
    }
    .content-gallery .gallery-title {
        display: none;
    }
    .content-gallery .home-link-block {
        right: auto;
        top: 0;
        left: 0;
    }
    .content-gallery .home-link-block .home-link {
        width: 260px;
        font-size: 13px;
        height: 70px;
        text-align: center;
    }
    .content-gallery .gallery-actions {
        width: 630px;
        margin: 0 auto 0 auto;
        position: relative;
        padding-top: 85px;
    }
    .content-gallery .gallery-actions .search-block {
        position: absolute;
        top: 7px;
        right: 0;
    }
    .content-gallery .gallery-actions .filter-btn-block {
        margin-right: 60px;
    }
    .content-gallery .gallery-actions .filter-btn-block:nth-child(3) {
        margin-right: 0;
    }
    .content-gallery .gallery-items .item {
        width: 430px;
        margin: 0 0 55px 0;
        font-size: 25px;
    }
    .content-gallery .gallery-items .item .img-block {
        height: 275px;
        line-height: 275px;
    }
    .content-gallery .gallery-items .item .low-bar .data {
        font-size: 17px;
    }
    .content-gallery .rules {
        font-size: 14px;
        width: 635px;
        padding: 25px 25px;
        background: none;
        height: auto;
    }    
    .content-gallery .blogger-block{
        height: 1430px;
        background: url('../img/blog-bg-640.png') 50% 50% no-repeat transparent;
        background-size: cover;
        margin: 30px auto;
        width: 630px;
        padding: 20px 85px 20px 85px;
    }
    .content-gallery .blogger-block>div{
        display: block;
    }
    .content-gallery .blogger-block .blogger-profile{
        padding: 480px 10px 35px 0px;
        width: 350px;
        margin: 0 auto;
    }
    .content-gallery .blogger-block .blogger-info{
        padding: 60px 20px 20px 40px;
        width: auto;
        font-size: 21px;
        line-height: 29px;
    }
    .content-gallery .recipes-block .recipe,
    .content-gallery .recipes-block .recipe:last-of-type{
        float: none;
        margin: 0 auto 60px auto;
        width: 81%;
    }
    .content-gallery .recipes-block .recipe .img-block{
        height: 420px;
    }
    .content-gallery .recipes-block .recipe .recipe-info{
        height: 145px;
        font-size: 25px;
        line-height: 24px;
        padding-top: 30px;
    }
    .content-gallery .recipes-block .recipe .recipe-info span{
        font-size: 28px;
        padding-bottom: 10px;
    }
    .pager .pager-left a, .pager .pager-right a {
        width: 30px;
        height: 30px;
        background-size: 100%;
    }
    .pager .item a {
        font-size: 22px;
    }
    body.feedback .wrap{
        background: url('../img/bg-feedback-640.jpg') 50% 0% no-repeat #000;
        background-size: cover;
    }
    body.feedback .wrap-header {
        display: none;
    }
    .content-feedback .content-inner {
        width: 630px;
        background: none;
        height: auto;
        padding: 0 0 100px 0;
        margin-bottom: 60px;
    }
    .content-feedback h1 {
        background-size: 100%;
        padding: 25px 0;
        width: 440px;
        font-size: 50px;
        margin: 20px auto 45px  auto;
    }
    .content-feedback .feedback-inline-blocks .input-email {
        display: block;
        width: 380px;
        margin: 0 auto;
    }
    .content-feedback .feedback-inline-blocks .input-email input {
        padding-bottom: 25px;
        background-size: 100%;
        height: 70px;
        font-size: 35px;
    }
    .content-feedback .input-block input::-webkit-input-placeholder {
        font-size: 24px;
    }
    .content-feedback .input-block input:-moz-placeholder  {
        font-size: 24px;
        opacity: 1;
    }
    .content-feedback .feedback-inline-blocks .input-subject {
        float: none;
        width: 260px;
        margin: 40px auto 0 auto;
    }
    .input-block input, .input-block select, .input-block .select2 .select2-selection, .input-block textarea {
        font-size: 22px;
    }
    .content-feedback .input-message label {
        margin-top: 30px;
        font-size: 24px;
    }
    .content-feedback .submit-block {
        position: relative;
        bottom: 0;
        float: right;
    }
    .content-feedback .home-link-block {
        position: relative;
        bottom: auto;
        float: left;
    }
    .content-feedback .input-message textarea {
        background: url('../img/feedback-textarea-640.png') 50% 100% no-repeat transparent;
        height: 190px;
        padding: 0 55px;
        padding-top: 7px;
        line-height: 57px;
        font-size: 28px;
    }
    .content-feedback .feedback-inline-blocks .input-subject .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-bottom: 20px;
    }
    
    #feedback-popup{
        width: 500px;
        height: 300px;
    }
    #feedback-popup a {
        bottom: 30px;
        padding: 20px 0 15px 0;
        width: 110px;
        font-size: 36px;
        margin-left: -65px;
    }
    .phone-info-block{
        font-size: 57px;
    }
    .phone-info-block span{
        display: block;
        padding-bottom: 10px;
    }
    .recipe-popup-inner{
        width: 600px;
        padding: 50px;
        background: url('../img/recipe-popup-1-640.png') 65% 0% no-repeat transparent;
    }
    .recipe-popup-inner .left,
    .recipe-popup-inner .right{
        float: right;
        width: 100%;
        box-sizing: border-box;
        padding-right: 0px;
    }
    .recipe-popup-inner .left .title{
        display: none;
    }
    .recipe-popup-inner .left .title span{
        font-size: 22px;
        line-height: 22px;
        margin-top: 15px;
    }
    .recipe-popup-inner .left .info{
        font-size: 23px;
        line-height: 25px;
        margin-top: 41px;
    }
    .recipe-popup-inner .left .info div{
        margin-bottom: 24px;
    }
    .recipe-popup-inner .right .img-block{
        height: 420px;
    }
    .recipe-popup-inner .right .title1{
        display: block;
        font-size: 36px;
        text-align: center;
    }
    .recipe-popup-inner .right .title1 span{
        font-size: 28px;
    }
    .recipe-popup-inner .right ul li {
        font-size: 20px;
        margin-bottom: 15px;
    }
    #recipe-popup-2 .recipe-popup-inner{
        background: url('../img/recipe-popup-2-640.png') 65% 0% no-repeat transparent;
    }
    #recipe-popup-2 .recipe-popup-inner .right .title2 {
        font-size: 27px;
        margin: 35px 0 33px 0;
    }
    #recipe-popup-2 .recipe-popup-inner .right ul li {
        margin-bottom: 12px;
        font-size: 22px;
    }
    #recipe-popup-3 .recipe-popup-inner{
        background: url('../img/recipe-popup-3-640.png') 55% 0% no-repeat transparent;
    }
    #recipe-popup-3 .recipe-popup-inner .right .title2 {
        font-size: 26px;
        margin: 50px 0 30px 0;
    }
    #recipe-popup-3 .recipe-popup-inner .left .info {
        font-size: 23px;
        line-height: 26px;
    }

    #canvas-animation-girl-with-camera {
        left: -15%;
        top: 10%;
    }
    #canvas-animation-samolet, 
    #canvas-animation-girl,
    #canvas-animation-girl-with-camera{
        display: none;
    }
}

